$main-100: #A6D95B;
$main-200: #86AE49;
$main-300: #6C8C3B;
$main-400: #526A2D;
$main-500: #37481E;

$bg1: #3B3659;
$bg2: #2A2D40;

$color1: #3A4843;
$color2: #A7C8BC;
$color3: #487364;
$color4: #A2F2D6;
$color5: #80FFD3;
$color-interactive: #00ff55;
$circle-size: 80%;
$blending: hard-light;


/* Color Theme Swatches in Hex */
$hex-1: #3B3659;
$hex-2: #2A2D40;
$hex-3: #497364;
$hex-4: #7BA65D;
$hex-5: #A6D95B;
